<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/basecust.css') }}">
<script src="https://kit.fontawesome.com/0c54b7787d.js"></script>
</head>


<body>

   

    <header class="row">
        <nav class="navbar fixed-top navbar-expand-lg bg-danger bg-gradient
navbar-dark">
<div class="container-fluid">
<a class="navbar-brand" href="#">Petite Annonce</a>
<button class="navbar-toggler" type="button"
data-bs-toggle="collapse" data-bs-target="#navbarScroll"
aria-controls="navbarScroll" aria-expanded="false"
aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarScroll">
<ul class="navbar-nav me-auto my-2 my-lg-0"
style="--bs-scroll-height: 100px;">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="{{ url_for('views.home') }}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#" disabled>Link</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown"
role="button" data-bs-toggle="dropdown"
aria-expanded="false">Lab2</a>
<ul class="dropdown-menu"
aria-labelledby="navbarScrollingDropdown">
<li><a class="dropdown-item" href="">ex7</a></li>
<li><a class="dropdown-item" href="#">Another action</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="#">Something else here</a></li>
</ul>

</li>
<li class="nav-item">
<a class="nav-link" href="" tabindex="-1"
aria-disabled="true">About Us</a>
</li>
</ul>
<form class="d-flex">
<input class="form-control me-2" type="search" placeholder="Search"
aria-label="Search">
<button class="btn btn-outline-warning" type="submit">Search</button>
</form>
</div>
</div>

    </header>
    <main class="container py-5">

        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
        <!-- Section: Social media -->
        <section class="m-5">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
        class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
        class="fab fa-twitter"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
        class="fab fa-linkedin-in"></i></a>
        </section>
        <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="p-5" style="background-color: rgba(0, 0, 0, 0.2);">
            <h4>&copy;2023 bomarse : : boutik <span class="float-end">Like us:
            www.facebook.com/bomarseboutik/</span></h4>
            </div>
            <!-- Copyright -->
            </footer>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.6.4.min.js')
}}"></script>
<script
src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.
js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')
}}"></script>
</body>
</html>