
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
   margin:0;
   padding:0;
   font-family: 'Roboto', sans-serif;
   position:relative;
}
nav{
   width:100%;
   height:100px;
   background-color:rgba(51, 51, 51, 0.3);
   position:absolute;
   top:0;
   z-index:5;
}
.header{
   width:100%;
   height:500px;
   opacity:.8;
   background-color:rgb(30, 173, 255);
   background-image:url(../images/about.jpg);
   background-size:cover;
   background-position:bottom;
}
.container{
   width:100%;
}
.container h1{
   font-size:50p;
}
.about{
   padding:5% 0;
   width:100%;
   height:auto;
   background-color:#fff;
}
.about .left{
   padding:2% 0;
   float:left;
   
   width:50%;
   display:inline-block;
}
.about .right{
   width:50%;
   display:inline-block;
}
.about .right img{
   width:50%
}
.about .left h1{
   text-align:center;
   color:#a66bb9;
   margin:0 0 10px 0;
}
.about .left hr{
   width:20%;
   border-top:2px solid #000;
   border-bottom:none;
}
.about .left p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}

.mission{
   padding:5% 0;
   width:100%;
   height:auto;
   background-color:#fff;
}
.mission .right{
   padding:2% 0;
   width:50%;

   display:inline-block;
}
.mission .left{
   float:left;
   width:50%;

   display:inline-block;
}
.mission .left img{
   width:50%;
   margin-left: 300px;
}
.mission .right h1{
   text-align:center;
   color:#a66bb9;
   margin:0 0 20px 0;
}
.mission .right hr{
   width:35%;
   border-top:2px solid #000;
   border-bottom:none;
}
.mission .right p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}


.team{
   width:90%;
   margin:auto;
   padding:5% 5%;
   overflow:hidden;
}
.team h1{
   text-align:center;
   color:#1EADFF;
   
}
.team h1 hr{
   width:15%;
   border-top:2px solid #000;
   background-color:transperant;
   border-bottom:none;
   margin-bottom:50px;
}
.team .card{
   padding-bottom:20px;
   padding-top:20px;
   position:relative;
   min-width:20%;
   height:500px !important;
   height:auto;
   background-color:#fff;
   display:inline-block;
   margin:40px 6.5%;
   box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
   text-align:center;
}
.card .circle-container{
   position:relative;
   background-color:#579f79;
   width:250px;
   height:250px;
   border:none;
   border-radius:50%;
   margin:auto;
   color:#fff;
}
.circle-container h1{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   margin:0;
   font-size:60px;
}

.team .card h2{
   text-align:center;
   margin:30px 0 0 0;
}
.team .card h4{
   text-align:center;
   margin:10px 0 0 0;
}
.team .card p{
   width:250px;
   margin:30px auto;
   text-align:center;

}
.clear{
    clear: both;			
}

footer{
   width:100%;
   height:100px;
   background-color:#a66bb9;
}
footer p{
   text-align:center;
   padding: 0 2% ;
}
.post_testimonial {
   margin: 20px auto;
   max-width: 400px;
   background-color: rgba(255, 255, 255, 0.8);
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   margin-left: 700px;
 }
 
 .post_testimonial h1 {
   font-size: 24px;
   text-align: center;
   margin-bottom: 20px;
 }
 
 .post_testimonial form {
   display: flex;
   flex-direction: column;
 }
 
 .post_testimonial label {
   font-size: 16px;
   margin-bottom: 5px;
 }
 
 .post_testimonial textarea {
   height: 120px;
   resize: vertical;
   font-size: 14px;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
 }
 
 .post_testimonial input[type="submit"] {
   background-color: #a66bb9;
   color: #fff;
   border: none;
   padding: 10px 15px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }
 
 .post_testimonial input[type="submit"]:hover {
   background-color: #000;
 }



 .navbar {
   width: 100%;
   margin: auto;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #a66bb9;
   padding: 0 20px;
 }
 
 .logo {
   width: 270px;
   cursor: pointer;
 }
 
 .navbar ul {
   display: flex;
   align-items: center;
 }
 
 .navbar ul li {
   list-style: none;
   margin: 0 20px;
   position: relative;
   color: #fff;
 }
 
 .navbar ul li {
   list-style: none;
   margin: 0 20px; /* Adjust the margin to increase/decrease spacing between links */
   position: relative;
 }
 
 .navbar ul li::after {
   content: '';
   height: 3px;
   width: 0%;
   background: #a66bb9;
   position: absolute;
   left: 0;
   bottom: -10px;
   transition: 0.5s;
 }
 
 .navbar ul li:hover::after {
   width: 100%;
 }
 
 
 .dropdown-menu {
   background-color: #a66bb9;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   border: 1px solid #ddd;
   padding: 8px;
   min-width: 120px;
   right: 0;
   position: absolute;
   top: 100%; /* Position the dropdown below the navbar link */
   display: none; /* Hide the dropdown by default */
   flex-direction: column; /* Display the dropdown items in a column */
   margin-top: 5px;
 }
 
 .nav-item.dropdown:hover .dropdown-menu {
   display: flex; /* Display the dropdown when the parent li is hovered */
 }
 
 .dropdown-menu a {
   color: #fff;
   text-decoration: none;
   display: block;
   padding: 8px 12px;
 }
 
 .dropdown-menu a:hover {
   background-color: black;
 }
 
 .nav-item.dropdown {
   position: relative;
   cursor: pointer;
 }
 
 
/* media */
@media(max-width:1200px){
   .mission .right p{
      font-size:.8rem;
      margin:20px auto;
   }
   .about .left p{
      font-size:.8rem;
      margin:20px auto;
   }
}






@media(max-width:992px){
   .about .left{
   width:100%; 
}
   .about .right{
   width:100%; 
}
      .mission .left{
   width:100%; 
}
   .mission .right{
   width:100%; 
}
   .team .card{ 
   width:40%;
}   
}

@media(max-width:768px){
      .team .card{ 
   width:100%;
} 
   nav{
      height:80px;
   }
}

