* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
    background-image: url(../images/password.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  .navbar {
    width: 100%;
    margin: auto;
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a66bb9;
    padding: 0 20px;
  }
  
  .logo {
    width: 200px; 
    cursor: pointer;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  .navbar ul a{
    color: #fff;
  }
  
  .navbar ul li {
    list-style: none;
    margin: 0 25px; 
    position: relative;
    color: #fff;
  }
  .navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #a66bb9;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  }
  
  .navbar ul li:hover::after {
    width: 100%;
  }
  
  .dropdown-menu {
    background-color: #a66bb9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 120px;
    right: 0;
    position: absolute;
    top: 100%; 
    display: none; 
    flex-direction: column; 
    margin-top: 5px;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: flex; 
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
  }
  
  .dropdown-menu a:hover {
    background-color: black;
  }
  
  .nav-item.dropdown {
    position: relative;
    cursor: pointer;
  }
  

.content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px; 
}

.form-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input[type="password"],
.form-field input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-field input[type="submit"] {
    background-color: #a66bb9;
    color: white;
    cursor: pointer;
}

.form-field input[type="submit"]:hover {
    background-color: white;
}

.flash-messages {
    margin-bottom: 20px;
}

.flash-message {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
}

.banner {
    background-color: #a66bb9;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

.banner h3 {
    margin-bottom: 10px;
}

.banner .logo {
    width: 150px;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    
}
