@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ,sans-serif;
}


.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:270px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li ::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/home.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    
}
span{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.1);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: #a66bb9;
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #fff;
}


.dropdown-menu {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    padding: 10px;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Optional: Adjust the dropdown width if needed */
.dropdown-menu {
    min-width: 150px;
}

.navbar .dropdown-menu {
    min-width: 120px; /* Optional: Adjust the dropdown width if needed */
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styling for the dropdown links */
.navbar .dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}

.navbar .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Position the dropdowns to the right */
.navbar .nav-item.dropdown {
    position: relative;
}

.navbar .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}

