
body {
    background-color: #a66bb9;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 6px 10px;
    margin-bottom: 16px;
}
