*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}

.banner{
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    width:85%;
    margin: auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width:270px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li ::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after{
    width: 100%;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/home.jpeg);
    background-size: cover;
    background-position: center;


}

form{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;

}

input{
    display:block;
    width: 350px;
    height:40px;
    margin: 20px;
    border: none;
    outline:none;
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;

}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #a66bb9;
    border: none;
    color: white;
    margin-top: 20px;
}

form h1{
    margin-bottom: 30px;
    color: white;

}

::placeholder{
    color: white;

}



.dropdown-menu {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    padding: 10px;
}

.dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Optional: Adjust the dropdown width if needed */
.dropdown-menu {
    min-width: 150px;
}

.navbar .dropdown-menu {
    min-width: 120px; /* Optional: Adjust the dropdown width if needed */
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styling for the dropdown links */
.navbar .dropdown-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}

.navbar .dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Position the dropdowns to the right */
.navbar .nav-item.dropdown {
    position: relative;
}

.navbar .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}