
}
navbar {
  background-color: #007bff;
  padding: 10px;
  color: #fff;
}

.logo {
  max-width: 100px;
  height: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar a:hover {
  background-color: #0056b3;
  border-radius: 5px;
}

/* Dropdown menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 5px;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.